@import "../../variables.scss";

.socialWorkerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  .SWBodyHeader {
      font-size: 1.5rem;
      color: rgb(181, 184, 43);
      margin-top: 0.5rem;
  }

  .socialWorkerFormLS {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      .SWText {
        font-size: 1rem;
        color: rgb(194, 127, 83);
        text-align: left;
      }
    }
  }

  .socialWorkerFormRS {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
  }
}

.socialWorkerDescription {
  all: unset;
  height: 100%;
  background-color: rgb(228, 197, 139);
}
